@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-customer-service:before { content: "\f100"; }
.flaticon-002-algorithm:before { content: "\f101"; }
.flaticon-003-analysis:before { content: "\f102"; }
.flaticon-004-big-data:before { content: "\f103"; }
.flaticon-005-customer:before { content: "\f104"; }
.flaticon-006-computer:before { content: "\f105"; }
.flaticon-007-analysis:before { content: "\f106"; }
.flaticon-008-database:before { content: "\f107"; }
.flaticon-009-data-collection:before { content: "\f108"; }
.flaticon-010-database:before { content: "\f109"; }
.flaticon-011-data-mining:before { content: "\f10a"; }
.flaticon-012-data:before { content: "\f10b"; }
.flaticon-013-data:before { content: "\f10c"; }
.flaticon-014-data-science:before { content: "\f10d"; }
.flaticon-015-data:before { content: "\f10e"; }
.flaticon-016-deep-learning:before { content: "\f10f"; }
.flaticon-017-feedback:before { content: "\f110"; }
.flaticon-018-insurance:before { content: "\f111"; }
.flaticon-019-knowledge:before { content: "\f112"; }
.flaticon-020-large:before { content: "\f113"; }
.flaticon-021-linear-regression:before { content: "\f114"; }
.flaticon-022-location:before { content: "\f115"; }
.flaticon-023-machine-learning:before { content: "\f116"; }
.flaticon-024-maths:before { content: "\f117"; }
.flaticon-025-neural:before { content: "\f118"; }
.flaticon-026-npl:before { content: "\f119"; }
.flaticon-027-optimization:before { content: "\f11a"; }
.flaticon-028-growth:before { content: "\f11b"; }
.flaticon-029-bar-graph:before { content: "\f11c"; }
.flaticon-030-predictive-models:before { content: "\f11d"; }
.flaticon-031-probability:before { content: "\f11e"; }
.flaticon-032-programming:before { content: "\f11f"; }
.flaticon-033-r:before { content: "\f120"; }
.flaticon-034-online-shopping:before { content: "\f121"; }
.flaticon-035-statistics:before { content: "\f122"; }
.flaticon-036-toolbox:before { content: "\f123"; }

$font-Flaticon-001-customer-service: "\f100";
$font-Flaticon-002-algorithm: "\f101";
$font-Flaticon-003-analysis: "\f102";
$font-Flaticon-004-big-data: "\f103";
$font-Flaticon-005-customer: "\f104";
$font-Flaticon-006-computer: "\f105";
$font-Flaticon-007-analysis: "\f106";
$font-Flaticon-008-database: "\f107";
$font-Flaticon-009-data-collection: "\f108";
$font-Flaticon-010-database: "\f109";
$font-Flaticon-011-data-mining: "\f10a";
$font-Flaticon-012-data: "\f10b";
$font-Flaticon-013-data: "\f10c";
$font-Flaticon-014-data-science: "\f10d";
$font-Flaticon-015-data: "\f10e";
$font-Flaticon-016-deep-learning: "\f10f";
$font-Flaticon-017-feedback: "\f110";
$font-Flaticon-018-insurance: "\f111";
$font-Flaticon-019-knowledge: "\f112";
$font-Flaticon-020-large: "\f113";
$font-Flaticon-021-linear-regression: "\f114";
$font-Flaticon-022-location: "\f115";
$font-Flaticon-023-machine-learning: "\f116";
$font-Flaticon-024-maths: "\f117";
$font-Flaticon-025-neural: "\f118";
$font-Flaticon-026-npl: "\f119";
$font-Flaticon-027-optimization: "\f11a";
$font-Flaticon-028-growth: "\f11b";
$font-Flaticon-029-bar-graph: "\f11c";
$font-Flaticon-030-predictive-models: "\f11d";
$font-Flaticon-031-probability: "\f11e";
$font-Flaticon-032-programming: "\f11f";
$font-Flaticon-033-r: "\f120";
$font-Flaticon-034-online-shopping: "\f121";
$font-Flaticon-035-statistics: "\f122";
$font-Flaticon-036-toolbox: "\f123";