@font-face {
  font-family: 'Fira_Code';
  src: local('Fira_Code'), url(./fonts/Fira_Code/ttf/FiraCode-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira_Code_Semi_Bold';
  src: local('Fira_Code_Semi_Bold'), url(./fonts/Fira_Code/ttf/FiraCode-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
